<div class="main-box-header clearfix">
    <h2>Добавить видео</h2>
</div>

<div class="main-box-body clearfix">
    <form ng-submit="addIncident(incidentParam)" class="b-add-incident-form" name="incidentForm">
        <div class="form-group">
            <label for="">Заголовок <sup>*</sup></label>
            <input type="text" ng-model="incidentParam.title" name="title" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <label for="">Ссылка на видео <sup>*</sup></label>
            <input type="text" ng-model="incidentParam.video" name="video" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <label for="">Дата <sup>*</sup></label>
            <input type="text" ng-focus="openCalendar($event)"
                   ng-model="incidentParam.date"
                   datepicker-popup="{{format}}"
                   is-open="openedCalendar"
                   min-date="minDate" max-date="'2015-06-22'"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   close-text="Закрыть" class="form-control"
                   required="required"/>

        </div>

        <div ng-hide="isExtendSearch">
            <div class="form-group">
                <label for="">Адрес <sup>*</sup></label>
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           name="place"
                           required="required"
                           ng-model="incidentParam.place"
                           ng-keyup="relatedAddress($event)"
                           ng-click="showDropdownsHandler($event, 'placeAutocompliteList', 'isOpenPlace')"
                           ng-blur="hideDropdownsHandler($event, 'isOpenPlace')"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="findAddressByValue($event)">Поставить метку</button>
                </span>
                </div>
                <div dropdown is-open="statusDrodown.isOpenPlace">
                    <ul class="dropdown-menu b-dropdown__list">
                        <li class="b-dropdown__list__item" ng-repeat="place in placeAutocompliteList">
                            <a class="b-dropdown__list__item__link" href="#" ng-click="chousePlaceHandler($event, place)">
                                <span class="b-dropdown__list__item__major">{{place.prop.name}}</span>
                                <span class="b-dropdown__list__item__minor">{{place.prop.description}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-hide="!isExtendSearch">
            <div><a href="#" ng-click="hideExtendSearch()">Обычный поиск</a></div>
        </div>
        <span class="help-block">Так же вы можете выбрать адрес проишествия нажав на карту, или перетащить маркер на нужную позицию.</span>

        <ya-map class="b-add-incident-form__map"
                ya-options="mapOption"
                ya-center="{{currentCityCenter}}"
                ya-controls=""
                ya-after-init="afterMapInit($target)"
                ya-event-click="setIncidentCoordsHandler($event)"
                >
            <ya-geo-object
                    ya-source="incidentPoint"
                    ya-options="{preset:'islands#icon', draggable : true}"
                    ya-event-dragend="dragIncidentMarker($event)"></ya-geo-object>
        </ya-map>

        <!--Для тестирования-->
        <div class="form-group clearfix">
            <label for="" style="display: block">Координаты (testing mode)</label>
            <div>
                {{incidentParam.lat}} <br/>
                {{incidentParam.long}}
            </div>
        </div>

        <div class="form-group">
            <label for="">Описание</label>
            <textarea ng-model="incidentParam.description" name="description" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Добавить видео</button>
    </form>
</div>
