<div class="main-box-header clearfix">
  <h2>Сообщения</h2>
</div>
<div class="main-box-body clearfix">

  <div class="conversation-wrapper">
    <div class="conversation-content">
      <div class="conversation-inner">

        <div class="conversation-item item-left clearfix">
          <div class="conversation-user">
            <img src="img/samples/ryan.png" alt=""/>
          </div>
          <div class="conversation-body">
            <div class="name">
              Ryan Gossling
            </div>
            <div class="time hidden-xs">
              September 21, 2013 18:28
            </div>
            <div class="text">
              I don't think they tried to market it to the billionaire, spelunking,
              base-jumping crowd.
            </div>
          </div>
        </div>

        <div class="conversation-item item-right clearfix">
          <div class="conversation-user">
            <img src="img/samples/kunis.png" alt=""/>
          </div>
          <div class="conversation-body">
            <div class="name">
              Mila Kunis
            </div>
            <div class="time hidden-xs">
              September 21, 2013 12:45
            </div>
            <div class="text">
              Normally, both your asses would be dead as fucking fried chicken, but you
              happen to pull this shit while I'm in a transitional period so I don't wanna
              kill you, I wanna help you.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>