<div class="main-box-header clearfix">
    <h2>Добавить видео</h2>
</div>

<div class="main-box-body clearfix">
    <form ng-submit="updateIncident(incidentParam)" class="b-add-incident-form" name="incidentForm">
        <div class="form-group">
            <label for="">Заголовок <sup>*</sup></label>
            <input type="text" ng-model="incidentParam.title" name="title" class="form-control" required="required"/>
        </div>
        <div class="form-group" ng-class="{'has-error':errors.video.length}">
            <label for="">Ссылка на видео <sup>*</sup></label>
            <input type="text" ng-model="incidentParam.video" ng-focus="resetError('video')" name="video" class="form-control" required="required"/>
            <span class="help-block" ng-repeat="error in errors.video">
                {{error}}
            </span>
        </div>

        <div class="form-group">
            <label for="">Дата <sup>*</sup></label>
            <input type="text" data-provide="datepicker" data-date-language="ru" data-date-format="yyyy-mm-dd"
                   ng-model="incidentParam.date"
                   ng-required="true" class="form-control"
                   required="required"/>

        </div>

        <div class="form-group" ng-class="{'has-error':errors.place.length}">
            <label for="">Адрес <sup>*</sup></label>
            <input type="text"
                   class="form-control"
                   name="place"
                   required="required"
                   ng-model="incidentParam.place"
                   typeahead="place as place.value for place in relatedAddress($viewValue)"
                   typeahead-wait-ms="300"
                   typeahead-on-select="setAddress($item)"
                   ng-focus="resetError('place')"
                   cr-prevent-submit=""/>
            <span class="help-block" ng-repeat="error in errors.place">
                {{error}}
            </span>
        </div>
        <span class="help-block">Так же вы можете выбрать адрес проишествия нажав на карту, или перетащить маркер на нужную позицию.</span>

        <ya-map class="b-add-incident-form__map"
                ya-options="mapOption"
                ya-center="{{currentCityCenter}}"
                ya-controls=""
                ya-after-init="afterMapInit($target)"
                ya-event-click="setIncidentCoordsHandler($event)"
                >
            <ya-geo-object
                    ya-source="incidentPoint"
                    ya-options="{preset:'islands#icon', draggable : true}"
                    ya-event-dragend="dragIncidentMarker($event)"></ya-geo-object>
        </ya-map>


        <div class="form-group">
            <label for="">Описание</label>
            <textarea ng-model="incidentParam.description" name="description" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Обновить видео</button>
    </form>
</div>
