<div class="container">
    <div class="row">
        <div class="b-profile-menu col-sm-3">

            <div class="list-group">
                <a class="list-group-item" ui-sref="account.profile">Профайл</a>
                <a class="list-group-item" ui-sref="account.incidents">Видео</a>
            </div>
        </div>
        <div ui-view class="col-sm-9"></div>
    </div>
</div>