<div class="main-box-header clearfix">
    <h2>Профиль</h2>
</div>

<div class="main-box-body clearfix">
    <div class="alert alert-info" >
        <i class="fa fa-info-circle fa-fw fa-lg"></i>
        Вашь аккаунт не подтвержден. Вам на почту было высланно письмо со ссылкой для подтверждение регистрации.
        Если вам не пришло письмо с подтверждением, вы можете отправить его еще раз.
        <a href="#" ng-click="">Получить ссылку</a>
    </div>
</div>