<header ng-controller="NavbarCtrl" class="b-header">
    <nav class="b-navbar">
        <ul class="b-navbar__menu">
            <li class="b-navbar__menu__item">
                <a href="/" class="b-navbar__menu__item__link b-navbar__logo">24Crash</a>
            </li>
            <li class="b-navbar__menu__item">
                <a href="" class="b-navbar__menu__item__link b-navbar__menu__item__link-active">
                    <span class="b-navbar__menu__item__link-result">Результат</span>
                </a>
            </li>
            <li class="b-navbar__menu__item">
                <a href="" class="b-navbar__menu__item__link">
                    <span class="b-navbar__menu__item__link-filter">
                        Фильтры
                    </span>

                </a>
            </li>
        </ul>


        <div class="b-city-search">
            <span class="b-city-search__current">Москва</span>
            <span class="b-city-search__adress">Ул. Коненкова</span>
        </div>
        <ul class="b-navbar__userControls">
            <% if(isAuth){%>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" ui-sref="profile">Личный кабинет</a>
            </li>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" href="#" ui-sref="logout">Выйти</a>
            </li>
            <%}else{%>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" ui-sref="signup">Регистрация</a>
            </li>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" ui-sref="signin">Авторизация</a>
            </li>
            <%}%>

        </ul>
    </nav>
</header>