<header ng-controller="NavbarCtrl" class="b-header">
    <nav class="b-navbar">
        <div ui-view="navbar">
            <!--Шаблон по умолчанию-->
            <ul class="b-navbar__menu">
                <li class="b-navbar__menu__item">
                    <a ui-sref="main" class="b-navbar__menu__item__link b-navbar__logo">24Crash</a>
                </li>
            </ul>
        </div>

        <ul class="b-navbar__userControls">
            <% if(isAuth){%>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" ui-sref="account.profile">Личный кабинет</a>
            </li>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" href="#" ui-sref="logout">Выйти</a>
            </li>
            <%}else{%>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" ui-sref="signup">Регистрация</a>
            </li>
            <li class="b-navbar__userControls__item">
                <a class="b-navbar__userControls__item__link" ui-sref="signin">Авторизация</a>
            </li>
            <%}%>

        </ul>
    </nav>
</header>