<!--div ng-controller="NavbarCtrl" class="container b-navbar">
    <div class="navbar navbar-inverse b-navbar__nav" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Crash 24</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(isAuth){%>
                <li><a ui-sref="profile">Личный кабинет</a></li>
                <li><a href="/logout">Выйти</a></li>
                <%}else{%>
                <li><a ui-sref="signup">Регистрация</a></li>
                <li><a ui-sref="signin">Авторизация</a></li>
                <%}%>
            </ul>
        </div>
    </div>
</div-->