<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Crash 24</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext,cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script-->
</head>

<body>
    <%- partial('web/shared/navbar') %>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery-1.11.0.min.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/angular/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular/angular-loader.min.js"></script>
    <script src="/js/dependencies/angular/angular-locale_ru-ru.js"></script>
    <script src="/js/dependencies/angular/angular-resource.min.js"></script>
    <script src="/js/dependencies/angular/angular-route.min.js"></script>
    <script src="/js/dependencies/angular/angular-sanitize.min.js"></script>
    <script src="/js/dependencies/angular/angular-scenario.js"></script>
    <script src="/js/dependencies/angular/angular-touch.min.js"></script>
    <script src="/js/dependencies/angular/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/angular/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="/js/dependencies/angular/ya-map.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/boot.js"></script>
    <script src="/js/config/application.js"></script>
    <script src="/js/config/router_helper.js"></script>
    <script src="/js/config/routes.js"></script>
    <script src="/js/lib/components/module.js"></script>
    <script src="/js/lib/components/locate_definition.js"></script>
    <script src="/js/lib/components/setting_access.js"></script>
    <script src="/js/lib/directives/module.js"></script>
    <script src="/js/lib/filters/module.js"></script>
    <script src="/js/lib/resourse/module.js"></script>
    <script src="/js/lib/resourse/Incident.js"></script>
    <script src="/js/lib/resourse/LocateInfo.js"></script>
    <script src="/js/lib/resourse/Session.js"></script>
    <script src="/js/lib/resourse/User.js"></script>
    <script src="/js/lib/resourse/UserProfile.js"></script>
    <script src="/js/lib/services/module.js"></script>
    <script src="/js/lib/services/kladr.js"></script>
    <script src="/js/app/modals/module.js"></script>
    <script src="/js/app/modals/controllers/confirm_locate.js"></script>
    <script src="/js/app/pages/module.js"></script>
    <script src="/js/app/pages/controllers/welcome.js"></script>
    <script src="/js/app/control_panel/module.js"></script>
    <script src="/js/app/control_panel/controllers/navbar.js"></script>
    <script src="/js/app/registration/module.js"></script>
    <script src="/js/app/registration/controllers/logout.js"></script>
    <script src="/js/app/registration/controllers/signin.js"></script>
    <script src="/js/app/registration/controllers/signup.js"></script>
    <script src="/js/app/user/module.js"></script>
    <script src="/js/app/user/controllers/account.js"></script>
    <script src="/js/app/user/controllers/account_incident.js"></script>
    <script src="/js/app/user/controllers/account_incident_add.js"></script>
    <script src="/js/app/user/controllers/account_incident_show.js"></script>
    <script src="/js/app/user/controllers/profile.js"></script>
    <script src="/js/app/user/services/account_incident_collection.js"></script>
    <script src="/js/app/search/module.js"></script>
    <script src="/js/app/search/controllers/search_map.js"></script>
    <script src="/js/app/search/controllers/search_result.js"></script>
    <script src="/js/app/search/controllers/show_item.js"></script>
    <script src="/js/app/app.js"></script>
    <!--SCRIPTS END-->
</body>
</html>
