<div id="login-box" class="b-auth">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box-inner">
                <h1 class="b-auth__title">
                    Авторизация
                </h1>
                <form role="form" ng-submit="signin(user)">
                    <div class="form-group" ng-class="{'has-error':errors.common.length}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" type="text" placeholder="Email или логин" ng-model="user.email" ng-focus="resetError('common')">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':errors.common.length}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Пароль" ng-model="user.password" ng-focus="resetError('common')">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':errors.common.length}">
                        <span class="help-block" ng-repeat="error in errors.common">
                            {{error}}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-success col-xs-12">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>