/*HEADER*/
/*dropdown user menu*/
.anim-b-profile-dropdown__menu.ng-hide-add,
.anim-b-profile-dropdown__menu.ng-hide-remove{
  transition: opacity 0.3s ease;

  display: block !important;
  opacity: 1;
}
.anim-b-profile-dropdown__menu.ng-hide{
  opacity: 0;
}





/*video item*/
.anim-b-incident-video__close{
  transition: color 0.3s ease;
}






/*incident list*/
.b-incident-list__item__settings{
  transition: opacity 0.3s ease;
  opacity: 0;
  .b-incident-list__item__img-wrap:hover &{
    opacity: 1;
  }
}




.anim-b-update-profile-form__success-message.ng-hide-add,
.anim-b-update-profile-form__success-message.ng-hide-remove{
  transition: all 0.6s ease;
  display:block !important;
  opacity:1;
}
.anim-b-update-profile-form__success-message.ng-hide {
  opacity:0;
}