.anim-b-placer{
    transform: translate(-600px, 0);
    -webkit-transform: translate(-600px, 0);
}
.anim-b-placer_show-state.ng-enter{
    transition: all 0.5s ease;
    transform: translate(-600px, 0);
    -webkit-transform: translate(-600px, 0);
}
.anim-b-placer_show-state.ng-enter-active{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}
.anim-b-placer_show-state{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.anim-b-placer.ng-leave{
    transition: all 0.5s ease;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}
.anim-b-placer.ng-leave-active{
    transform: translate(-600px, 0);
    -webkit-transform: translate(-600px, 0);
}