html, body{
  min-height: 100%;
  height: 100%;
  color: @asphalt;
}
/*COMMON*/
/*placer*/
.b-placer{
  width: 600px;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  box-shadow: 1px 2px 2px 0 #CCCCCC;
  h1{
    margin-top: 0;
  }
}
/*.b-placer.b-placer_result{
  top: 50px;
  z-index: 1005;
  box-shadow: none;
}*/






.b-ya-map{
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 600px;
  padding-top: 50px;
  z-index: 1;
}








/*incident list*/
.b-incident-list{}
.b-incident-list__item{}
.b-incident-list__item__img-wrap{
  position: relative;
}
.b-incident-list__item__img{
  vertical-align: top;
}
.b-incident-list__item__settings{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
}
.b-incident-list__item__settings__link{
  font-size: 13px;
  color: #fff;
  &:hover{
    color: #fff;
  }
}
.b-incident-list__item__headline{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
  line-height: 24px;
}
.b-incident-list__item__time{
  display: block;
  color: #888;
  font-size: 12px;
  font-style: italic;
}
.b-incident-list__item__place{
  font-size: 12px;
  margin-bottom: 10px;
}
.b-incident-list__item__desc{
  font-size: 14px;
}







/*LOGIN*/
.b-auth{}
.b-auth__title{
  padding-left: 0;
  margin-top: -10px;
  margin-bottom: 25px;
}








/*HEADER*/
.b-nav-menu{

}
.b-nav-menu__item{

}
.b-nav-menu__link{
  transition: background-color 0.2s ease, color 0.2s ease;
  line-height: 18px !important;
  font-size: 15px !important;
}

.b-navbar__user-controls{
  margin-right: -8px;
}
.b-profile-dropdown{
  min-width: 225px;
  &:hover .b-profile-dropdown__toggle{
    background: #34495e !important;
    color: #fff !important;
  }
}
.b-profile-dropdown__toggle{
  transition: background-color 0.3s ease, color 0.3s ease;
}
.b-profile-dropdown__menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #34495e;//#2980b9;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
.b-profile-dropdown__menu__item{
  transition: background 0.2s ease;
  &:hover{
    background: #3498db;
  }
}
.b-profile-dropdown__menu__item__link{
  display: block;
  color: #fff;
  font-size: 12px;
  padding: 10px 10px 10px 25px;
  text-decoration: none;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
.b-profile-dropdown__menu__item__link .fa{
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  min-width: 20px;
}
.b-profile-dropdown__menu__item__name{
  vertical-align: middle;
  line-height: 100%;
}







/*SEARCH*/
/*filter panel*/
.b-filter-panel{
  position: relative;
  margin: -15px -15px 0 585px;
  padding: 7px 15px 0;
  background: #2980b9;
  height: 50px;
  box-sizing: border-box;
//  box-shadow: 1px 1px 2px 0 #CCCCCC;
  z-index: 1005;
}
.b-filter-panel__search__input{
  background: transparent;
  border: 0;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  width: 85%;
  outline: none;
}
.b-filter-panel__search__input:focus{
  border: 0;
}
.b-filter-panel__search__icon{
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}
.b-filter-panel__bars-button{
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.b-filter-panel__dropdown-locate{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #2980b9;
}
.b-filter-panel__dropdown-locate__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.b-filter-panel__dropdown-locate__item{
  color: #fff;
  padding: 8px 10px 8px 20px;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    background: #3498db;
  }
}
.b-filter-panel__dropdown-locate__item__name{
  margin-left: 8px;
  font-size: 18px;
}
.b-filter-panel__dropdown-locate__item__region{
  font-size: 12px;
  color: #ddd;
}








/*search block*/
.b-result{
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
}
.b-result__item{
    transition: background 0.4s ease;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    min-height: 122px;
    display: block;
    color : #404040;
    &:hover{
        background: #f9f9f9;
        cursor : pointer;
        color : #404040;
        text-decoration: none;
    }
}
.b-result__item__pic{
    float: left;
    width: 120px;
    height: 90px;
    border: 1px solid #ddd;
    img{
      vertical-align: top;
    }
}
.b-result__item__content{
    transition: color 0.2s ease;
    margin-left: 140px;
}
.b-result__item__headline{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    clear: none;
}
.b-result__item__date{
    transition: color 0.2s ease;
    color: #aaa;
    font-style: italic;
    font-size: 13px;
    margin-bottom: 5px;
}






/*video item*/
.b-incident-video{
  padding: 15px;
  position: relative;
}
.b-incident-video__close{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #404040;
  font-size: 50px;
  line-height: 100%;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}
.b-incident-video__headline{
  padding-right: 50px;
}
.b-incident-video__time{
  color: #888;
  font-size: 12px;
  font-style: italic;
}
.b-incident-video__place{
  font-size: 14px;
  margin-bottom: 15px;
}
.b-incident-video__frame{
  margin-bottom: 20px;
}
.b-incident-video__descr{}







/*PROFILE*/

/*profile video partition*/
.b-profile-video{
  padding-bottom: 30px;
}







/*profile menu*/
.b-profile-menu{}







/*add incident*/
.b-add-incident-form{}
.b-add-incident-form__map{
    display: block;
    width: 100%;
    height: 400px;
}








/*MODAL CHOUSE LOCATE*/
.b-modal-locate{}
.b-modal-locate__form-group{
  position: relative;
}






/*DROPDOWN CHOUSE ITEM*/
.b-dropdown__list__item__major{
  font-weight: bold;
}
.b-dropdown__list__item__minor{
  font-size: 11px;
  color: #999;
}