<div ng-controller="MapMainCtrl">
    <ya-map class="js_ya-map b-ya-map" ya-zoom="8" ya-center="[55.76, 37.64]" ya-after-init="afterMapInit($target)">
        <ya-geo-object ng-repeat="point in points" ya-source="point" ya-options="{preset:'islands#blackStretchyIcon'}"></ya-geo-object>
    </ya-map>
</div>

<!--div class="js_ya-map b-ya-map" id="yaMap"></div-->
<div class="container">
    <div class="b-placer" ng-controller="IncidentSearchResultCtrl">
        <div class="b-result">
            <article ng-repeat="incident in incidents" class="b-result__item">
                <div class="b-result__item__pic"></div>
                <div class="b-result__item__content">
                    <h3 class="b-result__item__headline">{{incident.title}}</h3>
                    <date class="b-result__item__date">{{incident.date}}</date>
                    <!--div class="b-result__item__descr"></div-->
                    <div class="b-result__item__place">{{incident.place}}</div>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="b-placer b-search" style="display: none"></div>
<div class="b-placer b-incident" style="display: none"></div>

<!--script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){
        myMap = new ymaps.Map("yaMap", {
            center: [55.76, 37.64],
            zoom: 8,
            controls: []
        });
    }
</script-->