<div class="js_ya-map b-ya-map" id="yaMap"></div>
<div class="container">
    <div class="b-placer b-search">
        <h1>Поиск</h1>

        <form action="" class="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Город"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Улица"/>
            </div>
        </form>
    </div>
</div>

<div class="b-placer b-result" style="display: none"></div>
<div class="b-placer b-incident" style="display: none"></div>

<script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){
        myMap = new ymaps.Map("yaMap", {
            center: [55.76, 37.64],
            zoom: 8,
            controls: []
        });
    }
</script>