<a ui-sref="search.result">Закрыть</a>
<h1>{{incident.title}}</h1>
<small>{{incident.date}}</small>
<p>{{incident.place}}</p>
<p>{{incident.description}}</p>
<div>
    <iframe width="570" height="321" src="//www.youtube.com/embed/LdmKSSTzUrk?rel=0" frameborder="0" allowfullscreen></iframe>
</div>