<div class="b-filter-panel " ng-controller="IncidentSearchFiltersCtrl">
    <form class="b-filter-panel__search" action="">
        <span class="b-filter-panel__search__icon"><i class="fa fa-search"></i></span>
        <input type="text" class="b-filter-panel__search__input"
               ng-model="currentLocation"
               ng-keyup="relatedAddress($event)"
               ng-click="showDropdownsHandler($event, 'placeAutocompliteList', 'isOpenPlace')"
               ng-blur="hideDropdownsHandler($event, 'isOpenPlace')">
    </form>
    <div class="b-filter-panel__dropdown-locate" ng-show="statusDrodown.isOpenPlace">
        <ul class="b-filter-panel__dropdown-locate__list">
            <li class="b-filter-panel__dropdown-locate__item" ng-click="chousePlaceHandler($event, place)" ng-repeat="place in placeAutocompliteList">
                <i class="fa fa-map-marker"></i>
                <span class="b-filter-panel__dropdown-locate__item__name">{{place.prop.name}}</span>
                <span class="b-filter-panel__dropdown-locate__item__region">{{place.prop.description}}</span>
            </li>
        </ul>
    </div>
    <!--<span class="b-filter-panel__bars-button" ng-click="toggleBarsMenu($event)">
        <i class="fa fa-bars"></i>
    </span>-->
</div>
<div ng-controller="MapMainCtrl">
    <ya-template-layout ya-key="incidentItemLayout" >
        <div class="b-ya-map__item {% if properties.isActive %} b-ya-map__item_active {% endif %}">
            <img src="$[properties.incident.video_thumbnail_small]" alt=""/>
        </div>
    </ya-template-layout>

    <ya-template-layout ya-key="incidentItemActiveLayout">
        <div class="b-ya-map__item b-ya-map__item_active">
            <img src="$[properties.incident.video_thumbnail_small]" alt=""/>
        </div>
    </ya-template-layout>

    <ya-template-layout ya-key="incidentItemHoverLayout">
        <div class="b-ya-map__item b-ya-map__item_hover">
            <img src="$[properties.incident.video_thumbnail_small]" alt=""/>
        </div>
    </ya-template-layout>

    <ya-map class="js_ya-map b-ya-map" ya-zoom="15" ya-center="{{cityCoords}}" ya-controls="" ya-after-init="afterMapInit($target)">
        <ya-cluster ya-options="{gridSize : 512}">
            <ya-geo-object ng-repeat="point in points"
                           ya-source="point"
                           ya-options="{{mapsItemOptions}}"
                           ya-event-click="chouseIncident($event, point)"
                           ya-event-mouseenter="itemMouseenter($event)"
                           ya-event-mouseleave="itemMouseleave($event)"
                           ya-event-propertieschange="itemPropChange($event, point)"></ya-geo-object>
        </ya-cluster>

    </ya-map>
</div>

<div ui-view ></div>

