<div class="b-filter-panel " ng-controller="IncidentSearchFiltersCtrl">
    <form class="b-filter-panel__search" action="">
        <span class="b-filter-panel__search__icon"><i class="fa fa-search"></i></span>
        <input type="text" class="b-filter-panel__search__input"
               ng-model="currentLocation"
               ng-keyup="relatedAddress($event)"
               ng-click="showDropdownsHandler($event, 'placeAutocompliteList', 'isOpenPlace')"
               ng-blur="hideDropdownsHandler($event, 'isOpenPlace')">
    </form>
    <div class="b-filter-panel__dropdown-locate" ng-show="statusDrodown.isOpenPlace">
        <ul class="b-filter-panel__dropdown-locate__list">
            <li class="b-filter-panel__dropdown-locate__item" ng-click="chousePlaceHandler($event, place)" ng-repeat="place in placeAutocompliteList">
                <i class="fa fa-map-marker"></i>
                <span class="b-filter-panel__dropdown-locate__item__name">{{place.prop.name}}</span>
                <span class="b-filter-panel__dropdown-locate__item__region">{{place.prop.description}}</span>
            </li>
        </ul>
    </div>
    <!--<span class="b-filter-panel__bars-button" ng-click="toggleBarsMenu($event)">
        <i class="fa fa-bars"></i>
    </span>-->
    <div class="b-filter-panel__extend">
        <div class="b-filter-panel__extend__filter" ng-show="isOpenFilterPanel">
            <div class="form-inline b-filter-panel__extend__filter__form-inline">
                <div class="b-filter-panel__extend__date-range input-daterange"
                     cr-datepicker="datepickerSetting">
                    <span class="b-filter-panel__extend__filter__label">Диапазон дат</span>
                    <div class="form-group" >
                        <input type="text"
                               class="form-control b-filter-panel__extend__date-range__input" placeholder="От"
                               ng-model="filters.dateFrom">
                    </div>
                    <span>&ndash;</span>
                    <div class="form-group">
                        <input type="text"
                               class="form-control b-filter-panel__extend__date-range__input" placeholder="До"
                               ng-model="filters.dateTo">
                    </div>
                </div>

                <div class="form-group b-filter-panel__extend__sort">
                    <span class="b-filter-panel__extend__filter__label">Сортировать по</span>
                    <select class="form-control b-filter-panel__extend__sort-sel"
                            ng-model="filters.orderBy"
                            ng-options="sortFilter.name for sortFilter in sortFilters" >
                    </select>
                </div>
            </div>
            <div class="b-filter-panel__extend__filter__confirm">
                <button class="btn btn-primary" ng-click="applyFilters()">
                    Применить фильтры
                </button>
                <button class="btn btn-primary" ng-click="resetFilters()">
                    Сбросить фильтры
                </button>
            </div>
        </div>
        <div class="b-filter-panel__extend__show-button-panel" ng-click="toggleFilterPanel()">
            <div class="b-filter-panel__extend__show-button-panel__state" ng-class="{'b-filter-panel__extend__show-button-panel__open-panel' : !isOpenFilterPanel}">
                <div class="b-filter-panel__extend__show-button-panel__word">Фильтры <i class="fa fa-chevron-down b-filter-panel__extend__arrow"></i></div>
                <span class="b-filter-panel__extend__filter-list" ng-show="filtersNamesList.length == 0">Нет активных фильтров</span>
                <span class="b-filter-panel__extend__filter-list" ng-repeat="item in filtersNamesList">{{item}}</span>
            </div>
            <div class="b-filter-panel__extend__show-button-panel__state b-filter-panel__extend__show-button-panel__state_ext-filter" ng-class="{'b-filter-panel__extend__show-button-panel__open-panel' : isOpenFilterPanel}">
                <i class="fa fa-chevron-up"></i>
            </div>
        </div>
    </div>
</div>
<div ng-controller="MapMainCtrl">
    <ya-template-layout ya-key="incidentItemLayout" >
        <div class="b-ya-map__item {% if properties.isActive %} b-ya-map__item_active {% endif %}">
            <img src="$[properties.incident.video_thumbnail_small]" alt=""/>
        </div>
    </ya-template-layout>

    <ya-template-layout ya-key="incidentItemActiveLayout">
        <div class="b-ya-map__item b-ya-map__item_active">
            <img src="$[properties.incident.video_thumbnail_small]" alt=""/>
        </div>
    </ya-template-layout>

    <ya-template-layout ya-key="incidentItemHoverLayout">
        <div class="b-ya-map__item b-ya-map__item_hover">
            <img src="$[properties.incident.video_thumbnail_small]" alt=""/>
        </div>
    </ya-template-layout>

    <ya-map class="js_ya-map b-ya-map" ya-zoom="15" ya-center="{{cityCoords}}" ya-controls="" ya-after-init="afterMapInit($target)">
        <ya-cluster ya-options="{gridSize : 512}">
            <ya-geo-object ng-repeat="point in points"
                           ya-source="point"
                           ya-options="{{mapsItemOptions}}"
                           ya-event-click="chouseIncident($event, point)"
                           ya-event-mouseenter="itemMouseenter($event)"
                           ya-event-mouseleave="itemMouseleave($event)"
                           ya-event-propertieschange="itemPropChange($event, point)"></ya-geo-object>
        </ya-cluster>

    </ya-map>
</div>

<div ui-view class="b-map-result-aside"></div>

